*{
  margin: 0;
  padding: 0;
}



body {
  background: #000;
  color: #fff
}


section{
  min-height: 100vh;
  width: 100%;
  text-align: center;

}

#ul-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

#ul-item ul {
  list-style: none;
}

#ul-item ul li{
  width: 380px;
  height: 380px;
  padding: 10px;
  margin: 20px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

#ul-item ul li img{
  width: 100%;
  height: 100%;
}

#ul-item ul li h3{
  text-transform: uppercase;
}

#ul-item ul li:hover{
  opacity: 0.9;
  transform: scale(1.1) translateY(10px);
  font-weight: 300;
  color: #ddd;
  letter-spacing: 5px;
}


.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.5);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.button button:hover{
  background: rgba(255,255,255,0.8);
  transform: scale(1.1);
}

.button button:focus {
  background: rgba(30,180,30,0.8);
}